<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 接口的全限定符 -->
<mapper namespace="com.atguigu.spzx.manager.mapper.CategoryBrandMapper">

    <sql id="columns">
        id,brand_id,category_id,create_time,update_time,is_deleted
    </sql>
    <insert id="save">
        insert into category_brand
        (<include refid="columns"/>)
        values (#{id},#{brandId},#{categoryId}, now(), now(), 0)
    </insert>
    <update id="updateById">
        update category_brand
        set
        <if test="brandId !=null and brandId != ''">
            brand_id = #{brandId},
        </if>
        <if test="categoryId !=null and categoryId != ''">
            category_id = #{categoryId},
        </if>
        update_time = now()
        where id = #{id}
    </update>
    <update id="deleteById">
        update category_brand
        set is_deleted = 1
        where id = #{id}
    </update>
    <select id="findByPage" resultType="com.atguigu.spzx.model.entity.product.CategoryBrand">
        select cb.id,cb.brand_id,cb.category_id,c.name as categoryName,b.name as brandName,b.logo,cb.create_time
        from category_brand as cb
        inner join category as c on c.id = cb.category_id
        inner join brand as b on b.id=cb.brand_id
        <where>
            <if test="brandId !=null and brandId != '' ">
                and cb.brand_id = #{brandId}
            </if>
            <if test="categoryId != null and categoryId != '' ">
                and cb.category_id = #{categoryId}
            </if>
            and cb.is_deleted = 0
        </where>
        order by cb.id desc
    </select>
    <select id="findBrandByCategoryId" resultType="com.atguigu.spzx.model.entity.product.Brand">
        select b.id, b.name, b.logo, b.create_time, b.update_time, b.update_time
        from category_brand as cb
                 inner join brand as b on cb.brand_id = b.id
        where cb.category_id = #{categoryId}
          and cb.is_deleted = 0
        order by cb.id desc
    </select>
</mapper>